#app {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border: 2px solid black;
  margin-top: 20px;
}

th {
  background-color: lightgray;
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}